@import "../_variables.scss";

$selected-color: $dark;
$default-item-background-selected: $selected-color;
$badge-background: adjust-color($selected-color, $lightness: 15%);

@import "../global.scss";
