@use "sass:color";
@use "../_variables.scss";

$selected-color: variables.$dark;
$default-item-background-selected: variables.$selected-color;
$badge-background: color.adjust(variables.$selected-color, $lightness: 15%);
@use "../global.scss";
