@use "sass:color";
@use "../_variables.scss";

$selected-color: variables.$gray;

$default-text-color: #222;
$default-item-background: #fafafa;
$default-item-color-selected: color.adjust(
  variables.$default-text-color,
  $lightness: 30%
);
$default-item-background-selected: color.adjust(
  variables.$gray,
  $lightness: 3%
);

$default-footer-text-color: color.adjust(
  variables.$default-text-color,
  $lightness: 15%
);
$default-footer-background: color.adjust(
  variables.$default-item-background,
  $lightness: -5%
);

@use "../global.scss";
