$font-size-base: 0.9rem !default;
$border-radius-base: 0.25rem !default;

$selected-color: #f57f1e !default;

$white: #fff !default;
$gray: #e1e1e1 !default;
$dark: #242934 !default;

$default-item-background: #fafafa !default;
$default-item-color-selected: $white !default;
$default-item-background-selected: $selected-color !default;

$default-text-color: $dark !default;

$default-footer-text-color: $white !default;
$default-footer-background: $dark !default;

$badge-background: rgba($dark, 0.15) !default;
