@use "sass:color";
@use "_normalize.scss";
@use "_variables.scss";

.vss {
  * {
    font-size: variables.$font-size-base;
  }

  .vss-span {
    font-size: variables.$font-size-base + 0.4rem;
    color: variables.$gray;
  }

  .vss-list {
    .vss-inner-list {
      box-shadow: 0px 0px 10px variables.$gray;
      border-radius: variables.$border-radius-base;

      .vss-list-search {
        border: none;
        padding: 12px 14px;
        border-bottom: 2px solid color.adjust(variables.$gray, $lightness: 7%);
        border-top-left-radius: variables.$border-radius-base;
        border-top-right-radius: variables.$border-radius-base;
        outline: none;

        &:focus {
          border-color: variables.$selected-color;
        }
      }

      .vss-list-ul {
        padding: 8px 10px 10px 10px;

        li {
          span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: variables.$border-radius-base;
            color: variables.$default-text-color;
            padding: 5px 12px;
            margin-top: 2px;

            .vss-list-badge {
              font-size: variables.$font-size-base - 0.4;
              color: variables.$white;
              background-color: variables.$badge-background;
              padding: 2px 4px 0px 4px;
              border-radius: 20px;
              min-width: 14px;
              height: 14px;
              font-weight: bold;
            }
          }

          &.active:not(.is-parent) > span {
            background-color: variables.$default-item-background-selected;
            color: variables.$default-item-color-selected;
            border-color: transparent;
          }

          &.is-disabled:not(.is-parent) > span {
            background-color: color.adjust(variables.$gray, $lightness: -5%);
            color: variables.$default-item-color-selected;
            color: variables.$default-text-color;
            cursor: default;
            border-color: transparent;
          }

          &.is-disabled.active:not(.is-parent) > span {
            background-color: color.adjust(
              variables.$default-item-background-selected,
              $lightness: 20%
            );
            color: variables.$default-item-color-selected;
          }

          &:not(.is-parent) > span {
            cursor: pointer;
            background-color: variables.$default-item-background;
            border: 1px solid
              color.adjust(variables.$default-item-background, $lightness: -2%);
          }

          &.no-results > span,
          &.no-selection > span {
            cursor: default;
            background-color: variables.$default-item-background;
            border-color: transparent;
          }
        }

        // > li:not(.is-parent) > span {
        //
        // }

        > li.is-parent > span {
          font-weight: bold;
          padding-left: 0px;
        }
      }

      .vss-footer {
        align-items: flex-end;
        display: flex;
        flex: 1 0 auto;

        .vss-footer-bg {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 12px;
          height: 2rem;
          width: 100%;
          background-color: variables.$default-footer-background;
          border-bottom-left-radius: variables.$border-radius-base;
          border-bottom-right-radius: variables.$border-radius-base;

          * {
            color: variables.$default-footer-text-color;
            font-size: variables.$font-size-base - 0.2;
          }

          > div {
            display: flex;

            .vss-footer-separator {
              margin: 0px 6px;
            }
          }

          > span {
            font-size: variables.$font-size-base - 0.3;
            font-weight: bold;
            color: variables.$default-footer-text-color;
            background-color: color.adjust(
              variables.$default-footer-background,
              $lightness: 15%
            );
            padding: 1px 6px 0px 6px;
            border-radius: 20px;
            min-width: 14px;
            height: 14px;
          }
        }
      }
    }

    .vss-total {
      font-size: variables.$font-size-base - 0.2rem;
    }
  }
}
